.hSelectOneMenu {
	width: 100%;
	font-family: inherit;
	padding: 7px 12px;
	border-color: #CCC;
	border-radius: 4px;
}

.ui-datepicker {
	width: 18em;
	padding: .2em .2em 0;
	display: none;
	font-family: Lucida Console;
}

.pSelectCheckboxMenu {
	width: 100%;
	background-color: #FFF;
	font-family: inherit;
	font-style: italic;
}

.ui-selectcheckboxmenu {
	display: flex;
	padding: 3px 12px;
	width: 100%;
	border: solid 1px #CCC;
	cursor: pointer;
	background-color: #FFF;
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
	border-radius: 4px;
}

.ui-selectcheckboxmenu-label {
	background-color: #FFF;
}

label {
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal;
	font-family: Arial;
	font-size: 1em;
}

.outputLabel {
	font-weight: bold;
}

.ui-selectcheckboxmenu-panel {
	padding: 0px;
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	box-shadow: none;
	width: auto;
	font-family: Arial;
	font-size: 1em;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	background-color: #FFF;
	border-color: #FFF;
}

.radio, .checkbox {
	position: relative;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.radio label, .checkbox label {
	min-height: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	/* font-weight: normal; */
	/* cursor: pointer; */
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
	margin-top: 6px;
	margin-left: -4px;
	padding: 0px;
}

#irmaos {
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
}