.hSelectOneMenu {
	width: 100%;
	font-family: inherit;
	padding: 7px 12px;
	border-color: #CCC;
	border-radius: 4px;
}

.ui-datepicker {
	width: 18em;
	padding: .2em .2em 0;
	display: none;
	font-family: Lucida Console;
}

.bSelectMultiMenu {
	
}
